body{
    background-color:AntiqueWhite;
}
div{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
#lgf{
    background-color: lightgrey;
    width: 500px;
    padding: 15px;
    border: 25px solid orange;
    margin: 15px;
}
.miclase{
    background-color: lightgrey;
    width: 500px;
    padding: 5px;
    border: 5px solid orange;
    margin: 5px;
    oultine: 2px solid red;
}
